In [12]:
import pandas as pd

In [13]:
CDRData = pd.read_excel('C:\\Users\\phani\\OneDrive\\Desktop\\CDR Report.xlsx')

In [14]:
print (CDRData)

       IDRSSD  FDIC Certificate Number  OCC Charter Number  OTS Docket Number  \
0          37                    10057                   0              16553
1         242                     3850                   0                  0
2         279                    28868                   0               2523
3         354                    14083                   0                  0
4         457                    10202                   0                  0
...       ...                      ...                 ...                ...
5045  5472880                    59209                   0                  0
5046  5475452                    59181                   0                  0
5047  5514409                    59205                   0                  0
5048  5518023                    59190               25147                  0
5049  5538937                    59219                   0                  0

      Primary ABA Routing Number        Financial Institution Name  \
0                       61107146            BANK OF HANCOCK COUNTY
1                       81220537  FIRST COMMUNITY BANK XENIA-FLORA
2                      311972526       MINEOLA COMMUNITY BANK, SSB
3                      101107475                  BISON STATE BANK
4                       91208332                  LOWRY STATE BANK
...                          ...                               ...
5045                    61021471                        CRAFT BANK
5046                    67016972                GULF ATLANTIC BANK
5047                   124385355                       NELNET BANK
5048                   124303201   VARO BANK, NATIONAL ASSOCIATION
5049                    61121481                 CLASSIC CITY BANK

              Financial Institution Address Financial Institution City  \
0                       12855 BROAD STREET                      SPARTA
1                         260 FRONT STREET                       XENIA
2                              215 W BROAD                     MINEOLA
3                          223 MAIN STREET                       BISON
4                        400 FLORENCE AVE.                       LOWRY
...                                     ...                        ...
5045       1575 NORTHSIDE DRIVE, SUITE 200                     ATLANTA
5046        2222 NORTH ROOSEVELT BOULEVARD                    KEY WEST
5047       13907 S MINUTEMAN DR, SUITE 250                      DRAPER
5048  11781 S LONE PEAK PARKWAY, SUITE 100                      DRAPER
5049                2361 WEST BROAD STREET                      ATHENS

     Financial Institution State  Financial Institution Zip Code  \
0                             GA                           31087
1                             IL                           62899
2                             TX                           75773
3                             KS                           67520
4                             MN                           56349
...                          ...                             ...
5045                          GA                           30318
5046                          FL                           33040
5047                          UT                           84020
5048                          UT                           84020
5049                          GA                           30606

      Financial Institution Filing Type Last Date/Time Submission Updated On
0                                    51                  2021-01-12T09:01:20
1                                    51                  2021-01-26T10:15:22
2                                    51                  2021-03-12T17:17:27
3                                    51                  2021-01-30T00:33:34
4                                    51                  2021-01-23T23:50:39
...                                 ...                                  ...
5045                                 51                  2021-01-28T16:59:07
5046                                 51                  2021-02-02T15:25:14
5047                                 51                  2021-01-28T17:27:23
5048                                 51                  2021-01-29T12:07:21
5049                                 51                  2021-01-29T08:05:58

[5050 rows x 12 columns]

In [15]:
from sqlalchemy import create_engine

In [16]:
pip install pymssql

Requirement already satisfied: pymssql in e:\anaconda\lib\site-packages (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [17]:
engine = create_engine('mssql+pymssql://NIHAR-SCIENTIST:1433/avengers')

In [18]:
CDRData.to_sql('CDR_DATA', engine, 'dbo', 'replace', False)